<div class="sidebar bg-white p-3" style="width: 250px; min-height: 100vh;">
  <!-- <h4 class="fw-bold">Brandfy</h4> -->
   <img src="assets/Rectangle 70.png">
  <ul class="nav flex-column mt-4">
    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Brands</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Clients</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Orders</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Promocode</a></li>
    <li class="nav-item mt-4"><a class="nav-link" href="#">Logout</a></li>
  </ul>
</div>
